API/src/.env
API/node_modules
API/src/prisma/migrations
API/src/prisma/dev.db
API/src/prisma/dev.db-journal
CLIENT/node_modules/


# Compiled output
CLIENT/dist
CLIENT/tmp
CLIENT/out-tsc
CLIENT/bazel-out

# Node
CLIENT/npm-debug.log
CLIENT/yarn-error.log

# IDEs and editors
CLIENT/.idea/
CLIENT/.project
CLIENT/.classpath
CLIENT/.c9/
CLIENT/*.launch
CLIENT/.settings/
CLIENT/*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
CLIENT/.angular/cache
CLIENT/.sass-cache/
CLIENT/connect.lock
CLIENT/coverage
CLIENT/libpeerconnection.log
CLIENT/testem.log
CLIENT/typings

# System files
.DS_Store
Thumbs.db
