<h1>Gestió de jugadors</h1>
<form (submit)="onSubmit()">
    <p>
        <label>Email:
            <input [(ngModel)]="this.nouJugador.email" placeholder="email" [ngModelOptions]="{standalone: true}"/>
        </label>
    </p>
    <p>
        <label>Nom:
            <input [(ngModel)]="this.nouJugador.nom" placeholder="nom" [ngModelOptions]="{standalone: true}"/>
        </label>
    </p>
    <p>
        <label>Password:
            <input [(ngModel)]="this.nouJugador.password" type="password" [ngModelOptions]="{standalone: true}"/>
        </label>
    </p>
    <p>
        <label>Password:
            <input [(ngModel)]="password" type="password" [ngModelOptions]="{standalone: true}"/>
        </label>
    </p>
    <button type="submit">Afegir</button>
</form>
<table class="list-group">
    <tr><th>Id.</th><th>Nom</th><th>Email</th></tr>

    @for (jugador of jugadors; track jugador; let  i = $index) {
        <tr>
            <td>{{i}}</td>
            <td>{{jugador.nom}}</td>
            <td>{{jugador.email}}</td>
        </tr>
    }
     
</table>

