
table { width: 100%;}
th { background-color: #5f6f9255; }
th, td { text-align: left; padding: 8px; }
form { display: flex; flex-direction: column; align-items: stretch; column-gap: 100px;}
label,input,button { }
input { position:absolute; left: 10em;}
button { margin: 1em; padding: 1em; background-color: #5f6f9255; width:7em; margin-left: 23em;}